/*
EVENTICKA II CUSTOM STYLESHEET
--------------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */

/*
Brand Colors
---------------
coral: #EB6851
navy: #172751
mint #C5E8D3
gold: #D5A96C
blush: #F1D8D3
*/

/*
Breakpoints for Grid
--------------------
XS <= 767px
SM 768-1023px
MD 1024-1199px
LG >=1200px
*/

/* HIDING ELEMENTS */
.hidden {
	display: none;
}

@media (max-width: 768px) {
	.hidden-on-xs {
		display: none;
	}
}

/* ASSIGN CUSTOM PRIMARY FONT */

#qcPriNav > li > a, .digit, #qcSlideText h1, #qcTabNav li a, #qcTabTitle h1, #qcPageContentTabs > ul li > a, .qcScheduleList > li .time, .qcScheduleList > li h3, .qcScheduleList > li .speakers, .qcScheduleList > li .speakers, #qcAddress h3, #qcVenueHotelsHead, .qcVenueHotels h2, .qcTicketHead h2, .qcTicketAction span, .qcTicketBox h3, .speakers .item-title h3, .speakers .item-desc h3, .abtCountNum, .abtCountTitle, #qcTabTitle #qcAbtHeading, #qcAbtHeadList, #qcFooterLogo h2, #qcFormText h2, .qcTcktRegForm li label, .qcTcktSubmit button {
	font-family: 'Open Sans', sans-serif;
}

/* ASSIGN CUSTOM SECONDARY FONT */

body, #qcSiteNav h4, #qcPriNav ul > li > a, #qcPriNav ul ul > li > a, .dash_title, #qcSlideText p, #qcSlideText #slidenumber, .speakers .item-title p, .speakers .item-desc p, .speakers .item-title .read-more, .speakers .item-desc p.text, .qcFaqHead > div:last-child, #qcFormText p, .qcTcktRegForm li input, .qcTcktRegForm li textarea, .error {
	font-family: 'PT Sans', sans-serif;
}

/* 	ASSIGN CUSTOM PRIMARY HIGHLIGHT COLOR */

#qcWidgets, .qcOrderedList.check li:before {
	background-color: #EB6851;
}
#qcHeader {
	border-top: 0;
}

/* 	ASSIGN CUSTOM SECONDARY HIGHLIGHT COLOR */

#qcPageContentTabs > ul li.active:before, .qcScheduleList > li.toggle:hover:before, .qcScheduleList > li.toggle.active:before, .qcVenueHotels li:hover .action a, .qcTicketAction:hover, #qcSubscribeWidget input[type=submit]:hover, .qcTcktSubmit button:hover {
	background-color: #EB6851;
}
#qcTabNav li.active a, #qcTabNav li.active a:hover, #qcTabNav li.active a i, #qcPageContentTabs > ul li.active > a,  .qcVenueHotels li:hover h2, .speakers .item:hover .item-title .read-more, .speakers .item-desc h3, .speakers .item-desc p, #qcPriFooter nav li a:hover, .copyrights a:hover, .qcCheckboxText a:hover, .error {
	color: #EB6851;
}
#qcPageContentTabs > ul li.active:after {
	border-top-color: #EB6851;
}
.copyrights a:hover, .qcCheckboxText a:hover {
	border-bottom-color: #EB6851;
}

/* 	ASSIGN CUSTOM TERTIARY HIGHLIGHT COLOR */

#qcCountdown, .qcScheduleList > li.toggle:before, .qcTicketAction, #qcSubscribeWidget input[type=submit] {
	background-color: #EB6851;
}
#qcPriNav > li.active > a, #qcPriNav ul > li.active > a {
	color: #EB6851;
}

/* ASSIGN CUSTOM PAGE BACKGROUND COLOR/IMAGE */

/* PAGE INTRO STYLES */
.page-intro {
	background: url('../img/WSC-bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	 padding-bottom: 3em;
	 border-bottom: 5px solid #EB6851;
}

.title-subheader{
	color: white;
	opacity: 0.8;
}

.page-intro #qcOpenNav {
    background: url(../img/theme/openNavInvert.png) center center;
}

#qcSlideText .qcTargetLink {
	color: white;
	background: #EB6851;
}

#slidedesc {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

#qcCountdown {
	z-index: 11;
}

/* adapt page intro for mobile sticky nav  */
.wsc-logo {
	padding: 2em;
}

@media only screen and (max-width: 767px) {
	#slideContent, .page-intro {
		height: 100%;
	}
	#qcSlideText {
		margin-top: 0;
		height: 100%;
	}
	#qcCountdown {
		background-color: rgba(126, 126, 126, 0.7);
	}
	.cta .video .register-cta {
		display: none;
	}
}

@media only screen and (max-width: 335px) {
	#qcSlideText h1 {
	  font-size: 28px; /* shrink headline to fit on extra tiny screens */
	}
}

/* INTRO REGISTER NOW BUTTON */

#qcSlideText .cta {
	color: #fff;
	line-height: 60px;
	background: #EB6851;
	text-transform: uppercase;
	border-radius: 30px;
}
#qcSlideText .cta:hover {
	background: rgba(0,0,0,0.3);
}
@media only screen and (max-width: 767px) {
	#qcSlideText .cta.video {
		display: none;
	}
}

/* MOBILE STICKY BAR */

@media only screen and (min-width: 768px) {
	#mobileNav {
		display: none;
	}
}

#qcPriNav #nav-register a {
	color: #EB6851;
}

@media only screen and (max-width: 767px) {
	#mobileNav {
		background-color: #172751;
		position: fixed;
	  bottom: 0;
	  left: 0;
	  z-index: 990;
	  width: 100%;
	  height: 64px;
	}
	#qcOpenNav {
	  background: url(../img/theme/openNavInvert.png) center center;
	  top: 6px;
	}

	/* MOBILE STICKY REGISTER NOW BUTTON */

	.cta {
		padding: 10px 20px;
		color: #fff;
		line-height: 64px;
		background: #EB6851;
		text-transform: uppercase;
		border-radius: 30px;
	}
}

@media only screen and (max-width: 343px){
	#mobile-cta {
		text-transform: none; /* Stops button breaking in half on tiny screens */
	}
}

/* BUTTON AND LINK STYLES */

a:not(.button) {
	color: #EB6851;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a:not(.button):hover {
	color: #172751;
	cursor: pointer;
}

.button.prospectus-link {
	background-color: #172751;
	border-radius: 8px;
	color: white;
	padding: 8px 16px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.5;
}

@media (max-width:1022px) {
	.button.prospectus-link {
		margin-top: 16px;
		margin-bottom: 8px;
		font-size: 12px;
		padding: 16px;
	}
}

.button.prospectus-link:hover {
	background-color: #EB6851;
	cursor: pointer;
}

.section-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #172751;
	font-size: 40px;
}

/* SPONSORS SECTION STYLES */
.sponsors-section {
	padding: 3em 0;
}

/*.sponsors-section h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #172751;
	font-size: 40px;
}*/

.sponsors-section h3 {
	font-size: 28px;
	color: #EB6851;
	border-bottom: 2px solid #EB6851;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-bottom: 8px;
}

.sponsors-section p {
	line-height: 1.5em;
	margin-bottom: 16px;
}

.sponsors-section img {
	width: 100%;
}

@media (max-width:1022px) {
	.sponsors-section img {
		max-width: 300px;
	}
}

.sponsors-section .prospectus-quote {
	background-color: #F1D8D3;
	padding: 32px;
}

.sponsors-section .prospectus-quote p {
	color: #172751;
	font-size: 18px;
}


/* FAQ SECTION STYLES */

.faq-section {
	background: url('../img/WSC-coral-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #F1D8D3;
	border-bottom: 5px solid #EB6851;
	padding: 2em;

}

.faq-section div {
	background-color: #ffffff;
	line-height: 26px;
}

.toggle div {
	padding: 0.5em 0;
}

.rounded-corners{
	border-radius: 16px;
}

.faq-section h2 {
	margin: 0 0 1.25em -22px;
}

.qcScheduleList > li.active{
	background-color: #ffffff;
}

#qcFaqList li.active .qcTogContent {
	background-color: #ffffff;
}

#qcFaqList .qcTogContent {
	padding: 20px 10px;
}

.qcScheduleList > li {
	min-height: 62px;
}

.qcScheduleList > li.toggle:before {
	line-height: 62px;
}

/* FOOTER STYLES */

.footer {
	height: 61px;
}