@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?47297592');
  src: url('./font/fontello.eot?47297592#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?47297592') format('woff'),
       url('./font/fontello.ttf?47297592') format('truetype'),
       url('./font/fontello.svg?47297592#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97713987#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-video-1:before { content: '\e80b'; } /* '' */
.icon-t-shirt:before { content: '\e800'; } /* '' */
.icon-music-1:before { content: '\e897'; } /* '' */
.icon-search-1:before { content: '\e898'; } /* '' */
.icon-mail-1:before { content: '\e899'; } /* '' */
.icon-heart-1:before { content: '\e89a'; } /* '' */
.icon-heart-empty:before { content: '\e89b'; } /* '' */
.icon-star-1:before { content: '\e89c'; } /* '' */
.icon-star-empty:before { content: '\e89d'; } /* '' */
.icon-user-1:before { content: '\e89e'; } /* '' */
.icon-user-add:before { content: '\e8b5'; } /* '' */
.icon-video:before { content: '\e8b6'; } /* '' */
.icon-picture:before { content: '\e89f'; } /* '' */
.icon-check:before { content: '\e8b7'; } /* '' */
.icon-cancel:before { content: '\e8b8'; } /* '' */
.icon-plus-squared:before { content: '\e8b4'; } /* '' */
.icon-home:before { content: '\e8a0'; } /* '' */
.icon-link:before { content: '\e8a1'; } /* '' */
.icon-attach-1:before { content: '\e8a2'; } /* '' */
.icon-eye-1:before { content: '\e8a3'; } /* '' */
.icon-tag-1:before { content: '\e8a4'; } /* '' */
.icon-bookmark:before { content: '\e8a5'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-export:before { content: '\e8a6'; } /* '' */
.icon-chat:before { content: '\e8b2'; } /* '' */
.icon-location-1:before { content: '\e8a7'; } /* '' */
.icon-map:before { content: '\e8a8'; } /* '' */
.icon-direction:before { content: '\e8a9'; } /* '' */
.icon-book-open:before { content: '\e8aa'; } /* '' */
.icon-phone:before { content: '\e8ac'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-calendar-2:before { content: '\e801'; } /* '' */
.icon-mic:before { content: '\e8b9'; } /* '' */
.icon-clock-1:before { content: '\e8ad'; } /* '' */
.icon-down-open-big:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-up-open-big:before { content: '\e806'; } /* '' */
.icon-shuffle-1:before { content: '\e811'; } /* '' */
.icon-loop:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-stop:before { content: '\e809'; } /* '' */
.icon-pause:before { content: '\e80a'; } /* '' */
.icon-trophy:before { content: '\e8ae'; } /* '' */
.icon-globe-1:before { content: '\e8af'; } /* '' */
.icon-paper-plane-1:before { content: '\e8b0'; } /* '' */
.icon-suitcase:before { content: '\e8ba'; } /* '' */
.icon-ticket:before { content: '\e8b1'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-duckduckgo:before { content: '\e830'; } /* '' */
.icon-aim:before { content: '\e831'; } /* '' */
.icon-delicious:before { content: '\e832'; } /* '' */
.icon-paypal:before { content: '\e833'; } /* '' */
.icon-flattr:before { content: '\e834'; } /* '' */
.icon-android:before { content: '\e835'; } /* '' */
.icon-eventful:before { content: '\e836'; } /* '' */
.icon-smashmag:before { content: '\e837'; } /* '' */
.icon-gplus:before { content: '\e838'; } /* '' */
.icon-wikipedia:before { content: '\e839'; } /* '' */
.icon-lanyrd:before { content: '\e83a'; } /* '' */
.icon-calendar-1:before { content: '\e83b'; } /* '' */
.icon-stumbleupon:before { content: '\e83c'; } /* '' */
.icon-fivehundredpx:before { content: '\e83d'; } /* '' */
.icon-pinterest:before { content: '\e83e'; } /* '' */
.icon-bitcoin:before { content: '\e83f'; } /* '' */
.icon-w3c:before { content: '\e840'; } /* '' */
.icon-foursquare:before { content: '\e841'; } /* '' */
.icon-html5:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-call:before { content: '\e844'; } /* '' */
.icon-grooveshark:before { content: '\e845'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e846'; } /* '' */
.icon-forrst:before { content: '\e847'; } /* '' */
.icon-digg:before { content: '\e848'; } /* '' */
.icon-spotify:before { content: '\e849'; } /* '' */
.icon-reddit:before { content: '\e84a'; } /* '' */
.icon-guest:before { content: '\e84b'; } /* '' */
.icon-gowalla:before { content: '\e84c'; } /* '' */
.icon-note-beamed:before { content: '\e8b3'; } /* '' */
.icon-blogger:before { content: '\e84e'; } /* '' */
.icon-cc:before { content: '\e84f'; } /* '' */
.icon-dribbble:before { content: '\e850'; } /* '' */
.icon-evernote:before { content: '\e851'; } /* '' */
.icon-flickr:before { content: '\e852'; } /* '' */
.icon-google:before { content: '\e853'; } /* '' */
.icon-viadeo:before { content: '\e854'; } /* '' */
.icon-instapaper:before { content: '\e855'; } /* '' */
.icon-weibo:before { content: '\e856'; } /* '' */
.icon-klout:before { content: '\e857'; } /* '' */
.icon-linkedin:before { content: '\e858'; } /* '' */
.icon-meetup:before { content: '\e859'; } /* '' */
.icon-vk:before { content: '\e85a'; } /* '' */
.icon-plancast:before { content: '\e85b'; } /* '' */
.icon-disqus:before { content: '\e85c'; } /* '' */
.icon-rss:before { content: '\e85d'; } /* '' */
.icon-skype:before { content: '\e85e'; } /* '' */
.icon-twitter:before { content: '\e85f'; } /* '' */
.icon-youtube:before { content: '\e860'; } /* '' */
.icon-vimeo:before { content: '\e861'; } /* '' */
.icon-windows:before { content: '\e862'; } /* '' */
.icon-xing:before { content: '\e863'; } /* '' */
.icon-yahoo:before { content: '\e864'; } /* '' */
.icon-chrome:before { content: '\e865'; } /* '' */
.icon-email:before { content: '\e866'; } /* '' */
.icon-macstore:before { content: '\e867'; } /* '' */
.icon-myspace:before { content: '\e868'; } /* '' */
.icon-podcast:before { content: '\e869'; } /* '' */
.icon-amazon:before { content: '\e86a'; } /* '' */
.icon-steam:before { content: '\e86b'; } /* '' */
.icon-cloudapp:before { content: '\e86c'; } /* '' */
.icon-dropbox:before { content: '\e86d'; } /* '' */
.icon-ebay:before { content: '\e86e'; } /* '' */
.icon-facebook:before { content: '\e86f'; } /* '' */
.icon-github:before { content: '\e870'; } /* '' */
.icon-github-circled:before { content: '\e871'; } /* '' */
.icon-googleplay:before { content: '\e872'; } /* '' */
.icon-itunes:before { content: '\e873'; } /* '' */
.icon-plurk:before { content: '\e874'; } /* '' */
.icon-songkick:before { content: '\e875'; } /* '' */
.icon-lastfm:before { content: '\e876'; } /* '' */
.icon-gmail:before { content: '\e877'; } /* '' */
.icon-pinboard:before { content: '\e878'; } /* '' */
.icon-openid:before { content: '\e879'; } /* '' */
.icon-quora:before { content: '\e87a'; } /* '' */
.icon-soundcloud:before { content: '\e87b'; } /* '' */
.icon-tumblr:before { content: '\e87c'; } /* '' */
.icon-eventasaurus:before { content: '\e87d'; } /* '' */
.icon-wordpress:before { content: '\e87e'; } /* '' */
.icon-yelp:before { content: '\e87f'; } /* '' */
.icon-intensedebate:before { content: '\e880'; } /* '' */
.icon-eventbrite:before { content: '\e881'; } /* '' */
.icon-scribd:before { content: '\e882'; } /* '' */
.icon-posterous:before { content: '\e883'; } /* '' */
.icon-stripe:before { content: '\e884'; } /* '' */
.icon-opentable:before { content: '\e885'; } /* '' */
.icon-cart:before { content: '\e886'; } /* '' */
.icon-print:before { content: '\e887'; } /* '' */
.icon-angellist:before { content: '\e888'; } /* '' */
.icon-instagram:before { content: '\e889'; } /* '' */
.icon-dwolla:before { content: '\e88a'; } /* '' */
.icon-appnet:before { content: '\e88b'; } /* '' */
.icon-statusnet:before { content: '\e88c'; } /* '' */
.icon-acrobat:before { content: '\e88d'; } /* '' */
.icon-drupal:before { content: '\e88e'; } /* '' */
.icon-buffer:before { content: '\e88f'; } /* '' */
.icon-pocket:before { content: '\e890'; } /* '' */
.icon-bitbucket:before { content: '\e891'; } /* '' */
.icon-lego:before { content: '\e892'; } /* '' */
.icon-login:before { content: '\e893'; } /* '' */
.icon-stackoverflow:before { content: '\e894'; } /* '' */
.icon-hackernews:before { content: '\e895'; } /* '' */
.icon-lkdto:before { content: '\e896'; } /* '' */
.icon-volume-off:before { content: '\e80e'; } /* '' */
.icon-backward:before { content: '\e80d'; } /* '' */
.icon-forward:before { content: '\e80c'; } /* '' */
.icon-appstore:before { content: '\e84d'; } /* '' */